* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 95%;
    margin: auto;
}

.button-small {
    font-size: 0.8em!important;
}

.button-dark-text {
    color: black!important;
}

/* Navbar */
.navbar #desktop, .mobile-nav {
    display: none;
}

.navbar #mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 1rem;
}

.menu-icon {
    width: 25px;
    opacity: 0.6;
    cursor: pointer;
}

.navbar #mobile .search-icon {
    width: 20px;
    cursor: pointer;
}

.navbar #desktop .desktop-nav {
    height: 7rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar #desktop .desktop-nav .search-icon {
  width: 25px;
}

.navbar #desktop .desktop-nav .nav-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.navbar #desktop .desktop-nav .nav-items li:first-child img {
    width: 90px;
}

.navbar #desktop .desktop-nav .nav-items a {
    margin-right: 2.5rem;
    color: #333;
    font-weight: 550;
    font-size: 1.1rem;
    letter-spacing: 1px;
    transition: all 300ms;
}

.navbar #desktop .desktop-nav .nav-items a:hover {
    opacity: 0.6;
}

.navbar #desktop .top-bar {
    padding: 0.5rem 1rem;
    background: #F2F1ED;
}

.navbar #desktop .top-bar .top-bar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #F2F1ED;
}

.navbar #desktop .top-bar .top-bar-nav a {
    margin-right: 1.7rem;
    color: #333;
    position: relative;
}

.navbar #desktop .top-bar .top-bar-nav a::after {
    display: none;
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #333;
    bottom: 0;
    left: 0;
}

.navbar #desktop .top-bar .top-bar-nav a:hover::after {
    display: block;
}

.top-bar-dropdown {
    border: 1.5px solid black;
    cursor: pointer;
    position: relative;
    width: 12rem;
}

.top-bar-dropdown::after {
    content: '< >';
    font-family: inherit;
    font-size: 0.7rem;
    color: black;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 4px;
    top: 6px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
  }

.top-bar-dropdown select {
    background: transparent;
    border: 0;
    outline: 0;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    cursor: pointer;
    padding: 0.4rem;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}

/* Hero */
.hero {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../images/hero-bg.jpeg') no-repeat;
    height: 400px;
}

.hero .content {
    color: #fff;
    padding-top: 3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.hero .content h1 {
    font-size: 2.6rem;
    font-family: 'Finger Paint', sans-serif;
    text-transform: uppercase;
}

.hero .content p {
    font-size: 1.3rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    font-weight: 300;
}

.hero-button {
    display: inline-block;
    position: relative;
    margin-top: 3rem;
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 0.5px;
}

.hero-button::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #F9E267;
}

.hero-button .spacer {
    height: 37px;
    margin: 0 0 -50px 0;
    margin: 15px 0 -50px 0;
    background: transparent;
}

/* Areas */
.areas {
    background-color: #A0D1CA;
}

.areas .item {
    padding: 3rem 0;
    position: relative;
}

.areas .item::after {
    border-bottom: solid 1px #fff;
    bottom: 0;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
}

.areas .item:last-child::after {
    display: none!important;
}

.areas .item h2 {
    font-weight: 900;
    letter-spacing: 0.5px;
}

.areas .item p {
    margin-top: 1.7rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.areas-item-dropdown {
    border: 1.5px solid black;
    padding: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    position: relative;
}

.areas-item-dropdown::after {
    content: '< >';
    font-family: inherit;
    font-size: 1.1rem;
    color: black;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 4px;
    top: 18px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
  }

.areas-item-dropdown select {
    background: transparent;
    border: 0;
    outline: 0;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    cursor: pointer;
    padding: 0.4rem;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.5px;
}

/* Home cards */
.home-cards {
    background: #F2F1ED;
    padding: 3rem 0;
}

.home-cards .item {
    background-color: #fff;
    margin-top: 1rem;
}

.home-cards .item .item-image {
    width: 100%;
    height: 13rem;
}

.home-cards .item-content {
    padding: 1.5rem;
}

.home-cards .item-content h2 {
    margin-bottom: 0.7rem;
    letter-spacing: 0.5px;
}

.home-cards .item-content p {
    letter-spacing: 0.5px;
    opacity: 0.9;
}

.home-cards .item-content .hero-button {
    text-transform: uppercase;
    font-weight: 550;
}

/* Content filter */
.show {
    display: block!important;
}

.content-filter {
    background: #F2F1ED;
    padding: 3rem 0;
}

.filter-controlls {
    margin: 2rem 0;
    text-align: center;
}

.filter-controlls a {
    opacity: 0.8;
    font-size: 1.1rem;
    margin: 1rem;
    cursor: pointer;
}

.filter-controlls a:hover {
    opacity: 1!important;
}

.filter-controlls .selected {
    opacity: 1!important;
    font-weight: bold;
}

.filter-item {
    display: none;
    background-color: #fff;
    margin-top: 1rem;
    cursor: pointer;
}

.filter-item .item-image {
    width: 100%;
    height: 15rem;
}

.filter-item .item-content {
    padding: 2rem 1.5rem 3rem 1.5rem;
}

.filter-item .category {
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 550;
    margin-bottom: 0.7rem;
    display: inline-block;
}

.filter-item .item-content h2 {
    letter-spacing: 0.5px;
    font-size: 1.1rem;
    border-bottom: 2px solid transparent;
    display: inline;
}

.filter-item:hover h2 {
    border-color: black;
}

.filter-item .item-content p {
    letter-spacing: 0.5px;
    opacity: 0.9;
    margin-top: 0.7rem;
}

.content-filter .filter-button-container {
    text-align: center;
    padding: 4rem 0;
}

.filter-button-container .filter-button {
    display: inline-block;
    padding: 1.5rem 2rem;
    border: 1.5px solid black;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
}

/* Footer */
.footer {
    background-color: #3b3b3b;
    padding: 2rem 0;
}

.footer .menu {
    display: flex;
    flex-direction: column;
}

.footer .menu-item {
    padding: 1rem 0;
    color: #fff;
}

.footer .menu-item h3 {
    font-size: 0.95rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
    letter-spacing: 0.7px;
    text-transform: uppercase;
}

.footer .menu-item a {
    color: #fff;
    opacity: 0.8;
    font-size: 1rem;
}

.footer .menu-item li {
    padding-top: 1rem;
}

.footer .social-links {
    text-align: center;
    padding: 3rem 0;
}

.footer .social-links i {
    font-size: 2.4rem;
    margin: 0 0.7rem;
    color: #fff;
    opacity: 0.6;
}

.footer-divider {
    background: #fff;
    opacity: 0.5;
    width: 100%;
    height: 1px;
    display: block;
    margin: 1.9rem 0;
}

.footer-end {
    color: #fff;
    opacity: 0.5;
    text-align: center;
}

.footer-end p {
    display: inline-block;
    margin: 1rem 1.2rem;
}